/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Helvetica' !default;

// colors
$body-bg: #ffffff !default;
$body-color: #000000 !default;
$link-color: #58748f !default;

$code-block-bg: #ffffdc !default;
$code-block-border-color: $body-color !default;

$code-bg: #c6d1dc !default;
$code-color: $link-color !default;
$code-block-bg-alpha: -.1 !default;

$presentation-heading-color: $link-color !default;

/*-- scss:rules --*/

.picture {
  border-style: solid;
  border-width: 3pt;
  border-color: $body-color;
  border-radius: 50%;
  padding: 5pt;
  height: 50%;
  width: auto;
}

#title-slide {
  text-align: left;

  .institute,
  .quarto-title-affiliation {
    // font-style: italic;
    font-size: 60%;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;
  
    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  p.author::before,
  div.quarto-title-author::before {
    content: "";
    display: block;
    border: none;
    background-color: $body-color;
    color: $body-color;
    height: 3px;
    margin-bottom: 1em;
  }

  p, a {
    color: $link-color;
  }
}

.footer {
  bottom: 10px !important;
  // color: #58748f !important;
}

.reveal .progress {
    top: 0 !important;
    height: 2% !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 2% !important;
  left: 1.5% !important;
  max-height: 10% !important;
  height: 3.5% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-menu-button {
  left: 10px !important;
  bottom: 10px !important;
}

.slide-number,
.reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.cell-output {
  border: 1px solid $body-color;
  border-radius: 4px;
}

.center-x {
    text-align: center;
    background-color: $code-bg;
    // color: #58748f ;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}
